.input-box {
    position: relative;
    &.w50{
        width: calc(50% - 7px);
    }
    &.w100{
        width: 100%;
    }
    label {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--wp--preset--color--grey-dark);
        letter-spacing: 1px;
        transition: all 0.2s linear;
    }

    input, textarea, select {
        width: 100%;
        font-size: 18px;
        background-color: var(--wp--preset--color--grey);
        border-radius: 10px;
        border: none;
        padding: 0 20px;
        font-family: inherit;
        &:focus, &:valid{
            &+label{
                top: 7px;
                font-size: 10px;
                transform: translateY(0%);
            }
        }
    }
    input, select{
        height: 64px;
        &:focus, &:valid{
            padding-top: 8px;
        }
    }
    input[type="file"]{
        height: 80px;
        &:focus, &:valid{
            padding-top: 30px;
        }
    }
    input[type="checkbox"], input[type="radio"]{
        height: 20px;
        width: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        &+label{
            left: 34px;
        }
        &:focus, &:valid{
            &+label{
                top: 50%;
                font-size: 14px;
                transform: translateY(-50%);
            }
        }
    }
    input[type="date"], select{
        &+label{
            top: 7px;
            font-size: 10px;
            transform: translateY(0%);
        }
    }
    textarea{
        height: 120px;
        &:focus, &:valid{
            padding-top: 25px;
        }
    }
}