/* Appliqué uniquement dans l’éditeur Gutenberg */

body.block-editor-page .editor-styles-wrapper {
    max-width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.editor-visual-editor{
    background-color: white;
}

.wp-block {
    padding: 10px;
    border-radius: 2px;
}

/* .editor-visual-editor__post-title-wrapper, .wp-block-post-content{
    outline: 1px solid rgb(231, 231, 231) !important;
} */

.editor-styles-wrapper section.hero .visual-container img {
  height: auto !important;
  transform: none !important;
  position: absolute !important;
  opacity: 0.2 !important;
}

.editor-styles-wrapper .navbar .left img{
    opacity: 0.2 !important;
    position: absolute;
}
.editor-styles-wrapper .navbar .left button{
    margin-right: 50px;
}
.editor-styles-wrapper .navbar .menu-container{
    margin-left: 50px;
}
.editor-styles-wrapper button{
    z-index: 99;
}

.block-editor-inner-blocks, .block-editor-block-list__layout{
    display: inherit !important;
}

:where(.editor-styles-wrapper) .slider{
    overflow: auto !important;
}

:where(.editor-styles-wrapper) section.solutions .solutions-container{
    display: flex !important;
    gap: 0px !important;
    width: 100% !important;
}
:where(.editor-styles-wrapper) section.solutions .solutions-container .block-editor-inner-blocks{
    display: inherit !important;
    gap: 50px;
    flex-wrap: wrap;
    width: 100% !important;
}
:where(.editor-styles-wrapper) section.solutions .solutions-container .block-editor-block-list__layout{
    display: inherit !important;
    gap: 50px;
    flex-wrap: wrap;
    width: 100% !important;
}
:where(.editor-styles-wrapper) section.solutions .solutions-container .card-solution{
    width: calc(50% - 25px);
}
