section.section-solutions{
    background-color: var(--wp--preset--color--grey);
    .solutions-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

@media screen and (max-width:1200px){
    section.section-solutions{
        padding-top: 70px;
        padding-bottom: 100px;
        .solutions-container{
            grid-template-columns: auto;
            gap: 20px;
        }
    }
}