.footer{
    width: 90%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    .upper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
        .left{
            display: flex;
            .logo{
                height: 30px;
                margin-right: 60px;
            }
            .menus{
                display: flex;
                gap: 40px;
            }

        }
        .to-the-top{
            font-size: 40px;
            margin-left: 30px;
            &:hover{
                color: $green;
                cursor: pointer;
            }
        }
    }
    .lower{
        border-top: solid 1px #E6E6E6;
        padding-top: 40px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: $dark-grey;
        .right{
            display: flex;
            gap: 20px;
            .link:hover{
                color: $black;
            }
        }
    }
}

@media screen and (max-width:1200px){
    .footer{
        .upper{
            flex-wrap: wrap;
            margin-bottom: 40px;
            .left{
                flex-wrap: wrap;
                .menus{
                    flex-wrap: wrap;
                    width: 100%;
                    margin-top: 50px;
                    margin-bottom: 40px;
                }
            }
            .to-the-top{
                margin-left: 0px;
            }
        }
    }
}

@media screen and (max-width:600px){
    .footer{
        .upper{
            .left{
                .menus{
                    .menu{
                        width: 100%;
                    }
                }
            }
        }
        .lower{
            flex-wrap: wrap;
            gap: 30px;
            .left{
                width: 100%;
            }
            .right{
                display: none;
            }
        }
    }
}