.container{
    margin-left: auto;
    margin-right: auto;
}
.large-container{
    width: 90%;
    max-width: 1600px;
}
.medium-container{
    width: 90%;
    max-width: 1350px;
}
.small-container{
    width: 90%;
    max-width: 950px;
}
// .container.is-not-main{
//     padding-top: 150px;
// }
// @media screen and (max-width:1200px){
//     .container.is-not-main{
//         padding-top: 40px;
//     }
// }