.container{
    margin-left: auto;
    margin-right: auto;
}
.large-container{
    width: 90%;
    max-width: 1600px;
}
.medium-container{
    width: 90%;
    max-width: 1350px;
}
.small-container{
    width: 90%;
    max-width: 950px;
}