.menu-footer{
    .title-menu{
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 10px;
            line-height: 1.2;
            a:hover{
                color: var(--wp--preset--color--secondary);
            }
        }
    }
}